* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open sans';
}

html,
body {
	height: 100%;
	color: white;
	background: linear-gradient(#43cea2, #185a9d);
}

.initialize-app {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0 2%;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	text-align: center;
	margin-bottom: 1.2rem;
}

header h1 {
	font-size: 2.8rem;
}

header p {
	font-size: .9rem;
}

.input {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 2rem;
}

.input #search-input {
	width: 14rem;
	line-height: 2.2rem;
	padding: 0 1rem;
	border: 0;
	outline: 0;
	border-radius: .8rem;
}

.tooltip {
   	display: none;
 	position: absolute;
	top: 3.7rem;
	font-size: .75rem;
	opacity: 0.76;
	right: 5%;
	transform: translateY(-100%);
	transition: 1s;
	transition-timing-function: ease-in;
}



.tooltip::before{
	content: attr(data-tooltip);
	padding: .25rem;
	background: black;
	border-radius: 0.3rem;
}

.s-icon {
	display: block;
	width: 1.25rem;
	color: #49bf9a;
	position: absolute;
	left: calc(95% - 1.25rem);
	cursor: pointer;
}

.get-user-location {
	display: flex;
	flex-direction: column;
	text-align: center; 
}

.get-user-location span {
	display: block;
	margin-bottom: .5rem;
}

.get-user-location button {
	line-height: calc(2.2rem - 1rem);
	border-radius: .8rem;
	padding: .5rem;
	border: 0;
	outline: 0;
	color: white;
	background: linear-gradient(38deg, #c21500, #ffc500);
	cursor: pointer;
}

.get-user-location button:hover {
	background: linear-gradient(38deg, #274046, #161616);
}

.weather-data {
	display: none;
	width: 100%;
	height: 100%;
	padding: 3% 2%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.location h3 {
	color:#fafafa;
}

.location > h3, .location > p {
	padding: 3rem 0;
}

.location h3, .temperature-degree p, #degree-symbol {
	font-size: 1.7rem;
}

.temperature > div {
	padding: 3rem 0 1rem 0 ;
}

.temperature-degree {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.temperature-description {
	color: #fafafa;
}

.app-bar {
	width: 100%;
	height: 3rem;
	box-shadow: 1px 4px 3px 0.3px rgba(26,26,26, 0.4);
	background: linear-gradient(66deg, #43cea2, #185a9d);
	display: none;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	padding: 0 3%;
	position: absolute;
	top: 0;
}

.input-city #search-city {
	background: linear-gradient(66deg, rgba(22,22,22, 0.5), rgba(41,50,60, 0.5));
	box-shadow: 2px 2px 2.6px .7px rgba(26,26,26, 0.4);
	color: white;
	line-height: .9rem;
	padding: .5rem 1rem;
	border-radius: 0.8rem;
	border: 0;
	outline: 0;
}

#h-icon {
	display: block;
	text-shadow: 2px 2px 3px 0.5px rgba(26,26,26, 0.7);
	cursor: pointer;
}

.input-city {
	display: flex;
	align-items: center;
	position: relative;
}


@media screen and (max-height: 560px) {

	.location > h3, .location > {
		padding: 1.2rem 0;
	}

	.temperature > div {
		padding: 1.2rem 0 0.3rem 0;
	}
}
